:root {
    --blue: #179DFE;
    --white: white;
  }
  
  /* text-shadow: -20px -20px 50px #FFFFFF, 20px 20px 50px #FFFFFF; */

#container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10%;
    gap: 20px;

    padding-bottom: 0;
}

.how{
    font-family: 'Planet Kosmos', sans-serif;
    color: var(--white);
    text-shadow: -10px 10px 50px #179DFE, 10px 10px 50px #179DFE;
    font-size: 170px;
    align-self: flex-start;
}

.far-can{
    display: flex;
    flex-direction: column;
    font-family: 'Planet Kosmos', sans-serif;
    color: var(--white);
    text-shadow: -10px 10px 50px #179DFE, 10px 10px 50px #179DFE;
    font-size: 128px;
    text-align: center;
    padding-left: 5px;
}

.can{
    margin-top:-50px;
}

.you{
    font-family: 'Planet Kosmos', sans-serif;
    color: var(--white);
    text-shadow: -10px 10px 50px #179DFE, 10px 10px 50px #179DFE;
    font-size: 170px;
    align-self: flex-start;
    margin-left: -50px;
}


#lets-go{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    
    background-color: #179DFE;
    border: 0;
    border-radius: 150px;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;

    font-family: 'Over There';
    color: var(--white);
    font-size: 100px;

    /* box-shadow: 0px -100px 50px var(--blue), 0px 0px 50px #179efe00; */
    box-shadow: 0px -100px 25px var(--blue), 0px 10px 25px var(--blue); 
    text-shadow: 0px -90px 20px var(--white), 0px 10px 25px var(--blue); 


}

#lets-go:hover{
    background-color: var(--white);
    color:#179DFE;
text-shadow: -10px -10px 25px var(--white), 10px 10px 25px var(--blue); 
box-shadow: -10px -120px 25px var(--white), 10px 10px 25px var(--white); 

}

h3 {
    margin-top: 4rem;
    letter-spacing: -0.02em;
    font-size: 30px;
  }

  #charge{
    margin: 0;
    padding: 0 20px;
    padding-bottom: 100px;
    font-family: 'Michroma';
    font-size: 22px;
    text-rendering: geometricprecision;
    -webkit-font-smoothing: subpixel-antialiased;
    color: var(--blue);
    text-align: center;

  }

  #background-square-wrapper{
    padding-top: 50px;
  }

.lat-long-bg{
    background-image: url(latitude-longitude.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    padding: 10%;
    z-index: -100;
    padding-bottom: 100px;

}  

#lat-long-wrapper{
    padding-top: 10%;
    margin: auto;


    background-image: url(latitude-longitude.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    padding: 10%;
    z-index: -100;
    display: flex;
    justify-content: center;
    
    padding-top: 6%;

}

#lat-long-info{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    gap: 20px;
    justify-content: space-between;

    font-family: 'Michroma';
    font-size: 25px;
    color: var(--blue);

    height: 400px;
    width: 100vw;
}


.lat-long{
    display: flex;
    flex-direction: column;
    gap:100px;
}    

#lat-long-container{
    padding-top: 10%;
}

.lat-long{
padding-top:7%;

}

.long-number{
    padding-top:7%;
    text-align: center;
    padding-left: 30%;
    padding-right:10%;

}

.lat-number{
    text-align: center;
    padding-left: 10%;
    padding-right: 30%;
}

.lat{
    font-size: 30px;
}

.long{
    font-size: 30px;
}