:root {
    --blue: #179DFE;
    --white: white;
  }
  

#container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10%;
    gap: 20px;

    padding-bottom: 0;
}

.how{
    font-family: 'Planet Kosmos', sans-serif;
    color: var(--white);
    text-shadow: -10px 10px 50px #179DFE, 10px 10px 50px #179DFE;
    font-size: 170px;
    align-self: flex-start;
}

.far-can{
    display: flex;
    flex-direction: column;
    font-family: 'Planet Kosmos', sans-serif;
    color: var(--white);
    text-shadow: -10px 10px 50px #179DFE, 10px 10px 50px #179DFE;
    font-size: 128px;
    text-align: center;
    padding-left: 5px;
}

.can{
    margin-top:-50px;
}

.you{
    font-family: 'Planet Kosmos', sans-serif;
    color: var(--white);
    text-shadow: -10px 10px 50px #179DFE, 10px 10px 50px #179DFE;
    font-size: 170px;
    align-self: flex-start;
    margin-left: -50px;
}










